# Node modules
node_modules/

#instructions
.kilocode/

# Environment variables
.env

# Logs
npm-debug.log
logs/
*.log

# Build artifacts
build/
dist/

# Operating System files
.DS_Store

# Editor files (e.g., VS Code)
.vscode/

.venv